@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/roboto-v30-latin-100.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: url("../fonts/roboto-v30-latin-100italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/roboto-v30-latin-300italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/roboto-v30-latin-900italic.woff2") format("woff2");
}

/* Required by Ghost */

*.kg-width-wide,
*.kg-width-full {
    color: currentColor;
}

:root {
    color-scheme: light dark;
    --primary-color: #bb86fc;
    --primary-variant-color: #3700b3;
    --secondary-color: #03dac6;
    --error-color: #cf6679;
    --accent-color: var(--ghost-accent-color);
    --color-rich-black: #020202;
    --color-background: #121212;
    --color-black: #000000;
    --color-dark-grey: #212121;
    --color-grey: #303030;
    --color-light-grey: #424242;
    --color-primary-text: #ffffff;
    --color-secondary-text: #ffffff70;
    --color-hint-text: #ffffff50;
    --color-disabled-text: #ffffff38;
    --color-high-emphasis-text: #ffffff87;
    --color-medium-emphasis-text: #ffffff60;
    --color-dividers: #ffffff12;
    --color-gold: #454f5e;
    --color-american-gold: #b19a33;
    --color-raisin-black: #c0aa48;
    --loop-width: 1400px;
}

::placeholder,
::-ms-input-placeholder {
    color: var(--color-background);
    opacity: 1;
}

:autofill {
    background-color: currentColor;
}

:-webkit-autofill {
    background-color: currentColor;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    opacity: 1;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
}

*,
*::after,
*::before {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

html:has(dialog[open][aria-modal="true"]) {
    overflow: hidden;
}

body:has(dialog[open][aria-modal="true"]) {
    -webkit-filter: blur(0.1rem);
    filter: blur(0.1rem);
}

body {
    position: relative;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1.25;
    min-height: 100dvh;
    color: var(--color-primary-text);
    background-color: var(--color-background);
    width: 100dvw;
    max-width: 100%;
}

body.flexy {
    justify-content: flex-start;
}

img {
    height: auto;
    width: fit-content;
    max-width: 100%;
}

input[type="submit"],
input[type="reset"],
button[type="button"],
a[type="text/html"]:any-link {
    padding: .75rem 1.25rem;
    border-radius: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-grey);
    background-color: var(--color-raisin-black);
    text-transform: uppercase;
    text-decoration-line: none;
    opacity: .5;
    cursor: pointer;
    height: 3rem;
    width: fit-content;
    flex: 0 0 fit-content;
    outline: none;
    user-select: none;
    transition: color 150ms linear 0s, opacity 150ms linear 0s;
}

input[type="submit"]:is(:active, :focus, :hover),
input[type="reset"]:is(:active, :focus, :hover),
button[type="button"]:is(:active, :focus, :hover),
a[type="text/html"]:is(:active, :focus, :hover) {
    opacity: .9;
    color: var(--color-background);
    background-color: var(--color-american-gold);
    transition: color 150ms linear 0s, opacity 150ms linear 0s;
}

input[type="submit"]:focus,
input[type="reset"]:focus,
button[type="button"]:focus,
a[type="text/html"]:focus {
    opacity: 1;
    outline: thick solid #ffd70050;
}

button[type="button"].search svg {
    fill: currentColor;
    height: 1.75rem;
    width: 1.75rem;
}

a:any-link {
    text-decoration: none;
}

a:is(:active, :focus, :hover) {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: .5rem 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.75rem;
}

::placeholder,
::-ms-input-placeholder,
select:invalid:has(> option[selected]:disabled) {
    color: var(--color-hint-text);
    opacity: .85;
    /* Firefox */
}

option[selected]:disabled {
    user-select: none;
}

*.flexy {

    #ghost-portal-root iframe.gh-portal-triggerbtn-iframe {
        display: none;
    }

    x {
        place-items: flex-start;
    }

    a[href="#site-header"]:any-link {
        margin-bottom: 1.5rem;
        height: 4rem;
        width: 4rem;
        flex: 0 0 4rem;
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        color: var(--color-hint-text);
        background-color: var(--color-hint-text);
        border: none;
        border-radius: 50%;
        outline-width: medium;
        outline-style: solid;
        outline-color: var(--color-hint-text);
        text-decoration: none;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        z-index: 1;
        opacity: .25;
        user-select: none;
        cursor: pointer;
        transition: all 200ms ease-in-out 0s, background-color 150ms linear 0s;
    }

    a[href="#site-header"]:is(:active, :focus, :hover) {
        visibility: visible;
        color: var(--color-disabled-text);
        background-color: transparent;
        outline-color: var(--color-disabled-text);
        opacity: .9;
        transition: all 200ms ease-in-out 0s, background-color 150ms linear 0s;
    }

    form {

        margin-top: 2rem;
        padding: 0;
        position: relative;
        gap: 1rem;

        *:is(input:not([type="submit"], [type="reset"]), textarea, select):is(:active, :focus-within, :hover) {
            outline-width: thin;
            outline-style: solid;
            outline-color: var(--color-hint-text);
        }

        *:is(input, textarea, select):focus {
            outline-width: thick;
            outline-style: solid;
        }

        input:not([type="submit"], [type="reset"]):focus,
        textarea:focus select:focus {
            outline-color: var(--color-hint-text);
        }

        input:focus:valid:not(:placeholder-shown) {
            outline-color: var(--color-raisin-black);
        }

        select:invalid,
        input:invalid:not(:placeholder-shown):is(:empty),
        textarea:invalid:empty {
            outline-width: thick;
            outline-color: var(--error-color);
        }

        select:invalid:not(:focus),
        input:invalid:not(:focus):not(:placeholder-shown):is(:empty),
        textarea:invalid:not(:focus):not(:placeholder-shown):where(:empty) {
            box-shadow: 0 0 .25rem .1rem var(--error-color);
        }

        select:disabled {
            color: var(--color-hint-text);
            background-color: var(--color-disabled-text);
            cursor: not-allowed;
        }

        input:invalid:focus {
            box-shadow: none;
        }

        fieldset {
            width: 100%;
            flex: 0 0 100%;
            place-items: flex-start;
            gap: 1rem;
            opacity: .85;
            transition: opacity 150ms linear 0s;
        }

        fieldset:has(select:disabled) {
            display: none;
        }

        /* fieldset:not(:nth-of-type(1), :nth-of-type(2)) {
            display: none;
        } */

        fieldset:is(:focus-within, :hover) {
            opacity: 1;
            transition: opacity 150ms linear 0s;
        }

        fieldset:has(input[type="radio"]) {
            width: -webkit-fill-available;
            width: 100%;
            flex: 1 0 100%;
        }

        label:has(> input[type="radio"]) {
            flex-grow: 0;
        }

        legend {
            margin-bottom: 1rem;
            padding: .5rem 1rem;
            background-color: var(--color-dark-grey);
            width: 100%;
            flex: 0 0 100%;
            place-items: flex-start;
            text-align: start;
            cursor: default;
            user-select: none;
        }

        label,
        select {
            min-height: 2.5rem;
            gap: .5rem;
        }

        *.controls *:has(> input[type="submit"], > input[type="reset"]) {
            gap: 1rem;
        }

        *.required-fields {
            padding: .5rem;
            position: relative;
            color: var(--color-rich-black);
            background-color: var(--error-color);
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1;
            user-select: none;
            cursor: help;
            gap: 0;
        }

        span[aria-label="required"],
        *.required-fields::before {
            padding-top: .5rem;
            content: "*";
            color: var(--error-color);
            background-color: transparent;
            font-size: 1.85rem;
            font-weight: 300;
            line-height: .5;
            position: absolute;
            top: 0;
            left: -1.15rem;
            user-select: none;
        }

        *.required-fields::before {
            padding-top: .85rem;
            left: -1.25rem;
        }

        label {
            position: relative;
            flex-grow: 3;
            gap: .5rem;
        }

        input:not([type="submit"], [type="reset"]),
        textarea,
        select,
        option {
            padding: .5rem .85rem;
            color: var(--color-high-emphasis-text);
            background-color: var(--color-background);
            font-size: 1rem;
        }

        textarea {
            resize: vertical;
            font-weight: 400;
            line-height: 2;
        }

        input:empty,
        textarea:empty,
        select:invalid {
            user-select: none;
        }

        input,
        option {
            min-height: inherit;
            max-height: 100%;
        }

        input[type="checkbox"],
        input[type="radio"] {
            accent-color: var(--color-american-gold);
            min-height: unset;
            height: 1.5rem;
            width: 1.5rem;
            flex: 0 0 1.5rem;
            cursor: pointer;
        }

        input[type="checkbox"]~label {
            gap: 0;
        }

        input[type="checkbox"]~label a {
            margin-left: .25rem;
        }

        input[type="number"],
        input[type="datetime-local"] {
            width: fit-content;
            flex-basis: fit-content;
        }

        *.switch {
            margin-top: 1rem;
            position: relative;
            display: inline-block;
            width: 3rem;
            height: 2.5rem;
            align-self: flex-start;
        }

        *.switch *.switch-message {
            display: block;
            width: max-content;
            position: absolute;
            top: -.5rem;
            left: 0;
        }

        *.switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        *.slider {
            position: absolute;
            cursor: pointer;
            inset: 0;
            top: 1rem;
            background-color: var(--color-disabled-text);
            -webkit-transition: .4s;
            transition: .4s;
        }

        *.slider:before {
            position: absolute;
            content: "";
            height: 1.5rem;
            width: 1.5rem;
            left: 0;
            bottom: 0;
            background-color: var(--color-raisin-black);
            -webkit-transition: .4s;
            transition: .4s;
        }

        *.flexy:has(label[for="executive"]) {
            position: relative;
        }

        input:checked+*.slider {
            background-color: var(--color-american-gold);
        }

        *.switch *.switch-message:has(+ input:checked) {
            display: none;
        }

        *.switch:has(input:not(:checked)) + fieldset {
            display: none;
        }

        input:focus+*.slider {
            box-shadow: 0 0 1px var(--color-american-gold);
        }

        input:checked+*.slider:before {
            -webkit-transform: translateX(1.5rem);
            -ms-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
        }

        label:has(input[type="number"]):not(:last-of-type) {
            margin-right: 1rem;
        }

        label input,
        label textarea,
        label select {
            width: 100%;
            flex-grow: 1;
            flex-basis: 100%;
        }

        label,
        input[type="file"],
        input[type="datetime-local"],
        select {
            cursor: pointer;
            color: var(--color-american-gold);
        }

        input[type="file"] {
            width: fit-content;
            flex: 0 0 fit-content;
        }

        *.controls {
            width: -webkit-fill-available;
            width: 100%;
            flex: 1 0 100%;
            justify-content: space-between;
            place-items: center;
            gap: 1rem;

            label[for="terms-conditions"] {
                align-self: flex-end;
            }
        }

        *:has(> select, > label) {
            width: -webkit-fill-available;
            flex: 0 0 100%;
            place-content: flex-start;
            gap: 1rem;
        }

        *:has(> label:has(input[type="radio"]), *:is(> input[type="checkbox"] ~ label)) {
            width: fit-content;
            flex-basis: fit-content;
            justify-content: space-between;
            gap: .5rem;
        }

        *.flexy>*:not(input:is(input[type="checkbox"], input[type="radio"]) ~ label):is(label:not(:empty):not(:has(~ select, > textarea))) {
            min-width: 20rem;
            flex-basis: 20rem;
            place-items: flex-start;
            place-content: flex-end;
        }

        label:has(> textarea) {
            place-items: self-start;
        }

    }
}

*.flexy.general-enquiries {

    padding: 1rem 2rem;
    width: fit-content;
    flex: 0 0 fit-content;
    place-items: flex-start;
    gap: 1rem;
    
    h4 {
        padding: .5rem;
        width: 100%;
        flex: 0 0 100%;
        color: var(--color-primary-text);
        background-color: var(--color-hint-text);
        user-select: none;
    }

    ul {
        list-style-type: none;
        width: fit-content;
        place-items: flex-start;
        gap: 0.25rem;
    }

    li {
        flex-wrap: nowrap;
        place-items: flex-start;
        gap: 1rem;
    }

    li strong {
        user-select: none;
        cursor: default;
        text-align: end;
        min-width: 8rem;
    }
}

*.flexy {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 0;

    *.row {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    *.members {
        min-height: inherit;
        gap: 1rem;
    }

    *.get-in-touch {
        color: var(--color-high-emphasis-text);
        background-color: var(--color-gold);
    }

    *.book-now {
        color: var(--color-high-emphasis-text);
        background-color: var(--color-rich-black);
    }

    *.site-footer {
        color: var(--color-hint-text);
        background-color: var(--color-gold);
        outline: medium dotted #ffd70050;
        flex-direction: row-reverse;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        place-items: flex-end;
        line-height: 1.75;
        font-size: 1.1rem;
        font-weight: 400;
        gap: 2rem;

        header:first-of-type {
            padding: 1rem 2rem;
            width: fit-content;
            flex-basis: fit-content;
            place-items: flex-start;
            user-select: none;
        }

        img {
            mix-blend-mode: luminosity;
            transition: all 150ms linear 0s;
        }

        img:hover {
            mix-blend-mode: normal;
            transition: all 150ms linear 0s;
        }

        section>div {
            place-items: flex-start;
            gap: 1rem;
        }

        *.social-media {

            padding: 1rem 2rem;
            width: fit-content;
            flex-basis: fit-content;
            user-select: none;

            ul {
                list-style-type: none;
                place-items: flex-end;
                gap: 2rem;
            }

            figcaption {
                text-align: center;
                font-size: .85rem;
                font-weight: 100;
            }

            *.x a,
            *.facebook a,
            *.instagram a,
            *.linkedin a {
                font-size: 0 !important;
            }

            *.x a::before,
            *.facebook a::before,
            *.instagram a::before,
            *.linkedin a::before {
                font-family: "Font Awesome 6 Brands";
                display: inline-block;
                font-size: 3rem;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-rendering: auto;
                cursor: pointer;
                scale: .9;
                transition: scale 150ms linear 0s;
            }

            *.x a::before {
                content: "\e61b";
            }

            a:any-link {
                text-decoration: none;
            }

            *.facebook a::before {
                content: "\f09a";
            }

            *.instagram a::before {
                content: "\f16d";
            }

            *.linkedin a::before {
                content: "\f08c";
            }

            *.x a:hover::before {
                color: #000000;
            }

            a:hover::before {
                scale: 1;
                transition: scale 150ms linear 0s;
            }

            *.facebook a:hover::before {
                color: #4267b2;
            }

            *.instagram a:hover::before {
                color: #405de6;
            }

            *.linkedin a:hover::before {
                color: #0077b5;
            }

            p {
                max-width: 30rem;
            }
        }

        *:has(> small) {
            place-items: flex-start;
            gap: .5rem;
        }

        small {
            width: fit-content;
            max-width: 23rem;
            flex: 0 0 fit-content;
            gap: .25rem;
        }

        a:is(:active, :focus, :hover) {
            color: var(--color-high-emphasis-text);
        }
    }

    *.primary-nav,
    *.secondary-nav {
        color: currentColor;
        height: inherit;
        width: fit-content;
        list-style-type: none;
        color: currentColor;
        background-color: transparent;
        gap: 1rem;
    }

    *.secondary-nav {
        padding: 2rem;
        width: 100dvw;
        flex: 1 0 100%;
        place-content: flex-start;
    }

    *.header-button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: .25rem;
    }

    *.primary-nav li,
    *.secondary-nav li,
    *.primary-nav a {
        height: inherit;
    }

    *.site-header {
        padding: 0 2rem;
        justify-content: space-between;
        width: 100dvw;
        flex: 0 0 100%;
        gap: 1rem;
    }

    *.site-navigation {
        height: 3rem;
        width: fit-content;
        flex: 0 0 fit-content;
        gap: 1rem;
    }

    *.main-header {
        padding: 3rem;
        place-items: flex-start;
        max-width: var(--loop-width);
        gap: 1rem;
    }

    *.site-logo {
        padding: 1rem;
        width: 10rem;
    }

    *.apply-full-cover {
        background-color: var(--cover-color);
        background-image: var(--cover-url);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        height: 38rem;
        max-height: 100%;
        width: 100dvw;
        outline: medium dotted #ffd70050;

        img {
            display: none;
        }

        figcaption {
            padding: .5rem;
            position: absolute;
            bottom: 0;
            color: var(--color-primary-text);
            background-color: var(--color-disabled-text);
            width: 100dvw;
            max-width: 100%;
            text-align: end;
        }
    }

    *.cookies {
        margin: 0 auto;
        padding: 2rem;
        width: 100dvw;
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        color: inherit;
        background-color: #000000;
        outline: thick solid var(--color-raisin-black);
        gap: 1rem;
        opacity: .75;
        z-index: 3;
        user-select: none;
        transition: opacity 150ms linear 0s;
    }

    *.cookies:is(:focus-within, :hover) {
        opacity: .9;
        transition: opacity 150ms linear 0s;
    }

    *.cookies>button[type="button"]:first-child {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1rem;
    }

    *.cookies *:is(hgroup, form) {
        width: fit-content;
        background-color: transparent;
        gap: 1rem;
    }

    *.cookies hgroup {
        place-items: flex-start;
    }

    *.cookies-accepted {
        gap: 1rem;
    }

    *.cookies-accepted *.flexy:has(> button[type="button"]) {
        gap: 1rem;
    }

    *.cookies-accepted button[type="button"] {
        padding: .75rem 1.25rem;
        height: 3rem;
        width: fit-content;
        flex: 0 0 fit-content;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1;
    }

    *.home-loop {
        padding: 1rem 2rem;
        place-items: flex-start;
        gap: 1rem;
    }
}

section.flexy:has(> *.secondary-nav) {

    background-color: var(--color-background);
    outline: medium dotted #ffd70050;

    small {
        padding-bottom: 1rem;
        width: 100dvw;
        max-width: 100%;
        flex: 0 0 100%;
    }
}

*.flexy.nav-extra {

    gap: 1rem;

    button[type="button"][data-ghost-search] {
        color: var(--color-primary-text);
        background-color: var(--color-gold);
    }

    button[type="button"][data-html-symbol="trigram-for-heaven"] {
        font-size: 1.5rem;
        color: var(--color-primary-text);
        background-color: var(--color-gold);
    }
}

*.flexy {

    *.loop {

        margin: 4rem auto;
        padding: 2rem;
        gap: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        color: var(--color-high-emphasis-text);
        background-color: var(--color-dividers);
        outline: medium dotted #ffd70050;
        width: 100dvw;
        max-width: var(--loop-width);
        
        h2 {
            width: 100%;
            flex: 1 0 100%;
        }

        hr {
            width: 96%;
            flex: 0 0 96%;
        }
            
        *.pagination {
            display: none;
            width: 100dvw;
            flex: 0 0 100%;
        }

        *.flexy.post {
            padding: 1rem;
            width: 34rem;
            flex: 0 0 34rem;
            justify-content: space-between;
            color: currentColor;
            background-color: var(--color-dividers);
            gap: .5rem;
            scale: .95;
            user-select: none;
            transition: all 150ms linear 0s;

            figure,
            hgroup,
            footer {
                padding: .5rem;
            }

            figure,
            hgroup {
                width: 15rem;
                flex: 0 0 15rem;
            }

            hgroup {
                flex-grow: 1;

                p {
                    padding-bottom: .5rem;
                }
            }

            figure {
                margin-left: .5rem;
                position: relative;
                background-color: var(--accent-color);
                background-image: var(--cover-url);
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: local;
                background-size: cover;
                height: 15rem;

                img {
                    display: none;
                }

                figcaption {
                    background-color: var(--color-rich-black);
                    color: var(--color-secondary-text);
                    width: 100%;
                    padding: .5rem .75rem;
                    font-size: .85rem;
                    position: absolute;
                    bottom: 0;
                }
            }

            a:any-link {
                text-decoration-line: none;
            }

            footer {
                color: var(--color-disabled-text);

                pre {
                    gap: .5rem;
                }
            }

        }

        *.flexy.post:is(:focus-within, :hover) {
            background-color: var(--color-light-grey);
            outline: medium dotted #ffd70050;
            scale: 1;
            transition: all 150ms linear 0s;
        }
    }

    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    hr {
        margin: 1rem auto;
        height: .1rem;
        width: 85%;
        flex: 0 0 .1rem;
        max-width: var(--loop-width);
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        color: currentColor;
        background-color: var(--color-gold);
        opacity: .5;
        user-select: none;
    }

    *.post:not(:first-of-type) {
        padding: 1rem;
    }

    *.page-content {

        padding: 2rem;
        font-size: 1.25rem;
        text-align: start;
        place-items: flex-start;
        width: 100dvw;
        max-width: var(--loop-width);
        gap: 1rem;

        ul,
        ol {
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;
        }

        ul {
            padding-left: 1rem;
            list-style-position: outside;
            list-style-type: square;
        }

        li {
            display: list-item;
        }
    }

    *.image-transparent {
        mix-blend-mode: multiply;
    }

    *.outer-clients {

        padding: 1rem 0;
        color: var(--color-high-emphasis-text);
        background-color: var(--color-dividers);
        outline: medium dotted #ffd70050;

        h2 {
            padding: 2rem;
            place-self: flex-start;
        }

        *.inner-clients {
            padding: 1rem;
            flex-wrap: nowrap;
            justify-content: flex-start;
            list-style-type: none;
            overflow-x: scroll;
            scroll-behavior: smooth;
            gap: 5rem;
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        *.inner-clients::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        *.inner-clients {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        *.inner-clients li:first-of-type {
            padding-left: 5rem;
        }

        *.inner-clients li:last-of-type {
            padding-right: 5rem;
        }

        a {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            width: 15rem;
            scale: .9;
            transition: scale 150ms ease-in 0s;
        }

        a:is(:active, :focus, :hover) {
            scale: 1;
            transition: scale 150ms ease-out 0s;
        }
    }

    *.flashing-bg {
        position: absolute;
        inset: 0;
        background-color: transparent;
        list-style-type: none;
        pointer-events: none;
        user-select: none;
        z-index: 0;

        li {
            position: absolute;
            height: 0.1rem;
            width: 0.1rem;
            background-color: transparent;
            user-select: none;
            z-index: 999;
            border-radius: 50%;
            opacity: 0.25;
            animation-name: flashing;
            animation-duration: 9s;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-fill-mode: both;
            animation-play-state: running;
        }

        li:nth-child(1) {
            right: 10%;
            bottom: 5%;
        }

        li:nth-child(2) {
            left: 10%;
            top: 5%;
        }

        li:nth-child(3) {
            left: 30%;
            bottom: 15%;
        }

        li:nth-child(4) {
            right: 40%;
            top: 25%;
        }

        li:nth-child(5) {
            left: 20%;
            top: 30%;
        }

        li:nth-child(6) {
            right: 20%;
            bottom: 35%;
        }

        li:nth-child(7) {
            left: 40%;
            top: 15%;
        }

        li:nth-child(8) {
            left: 35%;
            bottom: 35%;
        }

        li:nth-child(9) {
            left: 50%;
            bottom: 25%;
        }

        li:nth-child(10) {
            right: 70%;
            top: 40%;
        }
    }

    pre {
        white-space: wrap;
        text-wrap: wrap;
        font-size: .85rem;
        color: var(--color-disabled-text);
    }
}

*.sharing-is-caring {

    padding: 1rem;
    color: var(--color-high-emphasis-text);
    background-color: transparent;
    gap: 2rem;

    svg {
        height: 2rem;
        width: 2rem;
    }
}

*.flexy.modal {

    padding: 1rem;
    width: 100dvw;
    max-width: var(--loop-width);
    background-color: var(--color-dividers);
    outline: medium dotted #ffd70050;
    gap: 1rem;

    footer {
        padding: 1rem;
        gap: .5rem;
    }

    p {
        font-size: 1.25rem;
    }

    dialog[open] {
        opacity: 1;
        transform: scaleY(1);
    }

    dialog {

        padding: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        color: currentColor;
        background-color: var(--color-gold);
        opacity: 0;
        gap: 1rem;
        scroll-behavior: smooth;
        transform: scaleY(0);
        transition: all 0.7s allow-discrete;

        h3 {
            width: fit-content;
            flex: 0 0 fit-content;
            align-self: flex-start;
            color: var(--color-secondary-text);
            user-select: none;
        }

        button[title="Close"] {
            padding: 0;
            position: absolute;
            top: .25rem;
            right: 1rem;
            font-size: .85rem;
            font-weight: 700;
            scale: .95;
            color: currentColor;
            background-color: transparent;
            transition: all 150ms linear 0s;
        }

        button[title="Close"]:is(:active, :focus, :hover) {
            scale: 1;
            color: var(--error-color);
            background-color: transparent;
            transition: all 150ms linear 0s;
        }

        button[title="Close"]:focus {
            outline: none;
        }

        form {

            label:has(> [type="text"], > [type="email"], > [type="tel"], >[type="number"], > [type="datetime-local"], > textarea, > select) {
                place-items: flex-start;
                align-self: flex-start;
            }

            dialog[aria-modal="true"] {
                position: fixed;
                inset: 0;
            }

            label:has(> [type="datetime-local"]) {
                align-items: center;
                gap: 1rem;

                strong {
                    font-style: oblique;
                }
            }
        }
    }

    dialog[aria-modal="true"] {
        margin: auto;
        max-height: 85dvh;
        flex-basis: 60dvw;
        position: fixed;
        inset: 0;
    }

    dialog[aria-modal="false"] {
        display: none;
    }

    dialog[open][aria-modal="false"] {
        display: flex;
        margin-top: 2rem;
        position: static;
        color: var(--color-rich-black);
        background-color: var(--color-gold);
    }

    dialog+button[type="button"] {
        margin-top: 2rem;
        padding: .75rem 1.25rem;
        border-radius: 0;
        font-size: 1.5rem;
        font-weight: 400;
    }

    output {
        display: none;
        height: auto;
        width: 100%;
        max-width: 85dvw;
        flex: 0 0 100%;
        color: currentColor;
        background-color: var(--color-dividers);
    }
}

*.flexy.row.container {
    padding: 2rem;
    gap: 2rem;

    *.flexy.general-enquiries {
        padding: 2rem;
    }

    *.flexy.modal {
        padding: 2rem;
        width: 40rem;
        flex: 1 0 40rem;
    }
}

*.flexy {

    *.page,
    *.post {

        width: fit-content;
        max-width: 100%;
        flex: 0 0 fit-content;
        outline: medium dashed var(--color-american-gold);
        outline: none;

        header:first-of-type {
            position: relative;
            min-height: 15rem;
            width: 100dvw;
        }

        hgroup {
            gap: .5rem;
        }

        footer {
            width: fit-content;
            flex: 1 0 100%;
            gap: .25rem;
        }

        hgroup,
        footer {
            place-items: flex-start;
            align-self: flex-start;
        }

        h1 {
            padding: 1rem;
            align-self: flex-start;
            justify-self: flex-start;
            line-height: 1.25;
            color: var(--color-rich-black);
            background-color: var(--color-american-gold);
            position: absolute;
            inset: 0;
            text-shadow: .15rem .5rem 1rem var(--color-disabled-text);
            user-select: none;
            z-index: 1;
        }

        *.page-meta {
            padding: 1rem 5rem;
            color: var(--color-background);
            background-color: var(--color-american-gold);
            border-bottom: thin dashed var(--color-secondary-text);
            place-content: flex-start;
            width: 100dvw;
            max-width: 100%;
            align-self: flex-start;
            gap: 3rem;
            z-index: 1;

            >*.flexy.row {
                gap: .25rem;
            }
        }

        *.page-meta a:any-link {
            padding: .25rem .5rem;
            color: inherit;
            background-color: var(--color-american-gold);
            border-radius: .15rem;
            opacity: .85;
            transition: all 150ms linear 0s;
        }

        *.page-meta a:any-link {
            text-decoration: none;
            user-select: none;
        }

        *.page-meta a:is(:active, :focus, :hover) {
            color: var(--color-background);
            background-color: var(--color-disabled-text);
            opacity: 1;
            transition: all 150ms linear 0s;
        }

        *.page-meta strong {
            color: inherit;
        }

        *.page-meta strong:last-of-type {
            user-select: none;
        }
    }
}

*.kg-embed-card {

    padding: 2rem 0;
    width: 100dvw;
    max-width: 100%;

    iframe {
        width: 100dvw;
        max-width: 100%;
        height: 50rem;
    }
}

*.flexy.validity-messages {

    display: none;
    margin: auto;
    padding: .25rem 1rem;
    color: var(--color-grey);
    background-color: var(--error-color);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
    user-select: none;
    cursor: help;
    position: absolute;
    inset: 0;
    top: -2.5rem;
    bottom: unset;
    height: auto;
    width: fit-content;
    flex: 0 0 fit-content;
    z-index: 3;
    gap: 1rem;

    p {
        display: none;
        font-size: 1rem;
    }
}

*.flexy.validity-messages:has(~ fieldset select[name="category"]:invalid:focus) {

    display: flex;

    p[data-error-type="category"] {
        display: block;
    }
}

*.flexy.validity-messages:has(~ fieldset input[name="name"]:invalid:not(:placeholder-shown):focus) {

    display: flex;

    p[data-error-type="name"] {
        display: block;
    }
}

*.flexy.validity-messages:has(~ fieldset input[name="fname"]:invalid:not(:placeholder-shown):focus) {

    display: flex;

    p[data-error-type="fname"] {
        display: block;
    }
}

*.flexy.validity-messages:has(~ fieldset input[name="surname"]:invalid:not(:placeholder-shown):focus) {

    display: flex;

    p[data-error-type="surname"] {
        display: block;
    }
}

*.flexy.validity-messages:has(~ fieldset input[type="email"]:invalid:not(:placeholder-shown):focus) {

    display: flex;

    p[data-error-type="email"] {
        display: block;
    }
}

*.flexy.validity-messages:has(~ fieldset input[name="phone"]:invalid:not(:placeholder-shown):focus) {

    display: flex;

    p[data-error-type="phone"] {
        display: block;
    }
}

*.flexy.validity-messages:has(~ fieldset input[type="password"]:invalid:not(:placeholder-shown):focus) {

    display: flex;

    p[data-error-type="password"] {
        display: block;
    }
}

*.flexy.validity-messages:has(~ fieldset input[name="nr-pass"]:invalid:not(:placeholder-shown):focus) {

    display: flex;

    p[data-error-type="passengers"] {
        display: block;
    }
}

*.flexy.validity-messages:has(~ fieldset textarea[name="enquiry"]:invalid:focus) {

    display: flex;

    p[data-error-type="enquiry"] {
        display: block;
    }
}

*.flexy.validity-messages:has(~ fieldset input[name="tandc"]:invalid:not(:placeholder-shown):focus) {

    display: flex;

    p[data-error-type="terms"] {
        display: block;
    }
}

dialog:has(form.flexy.error) {
    outline: thick dashed var(--error-color);
    
    *.flexy.validity-messages {
        display: flex;
        p[data-error-type="members"] {
            display: block;
        }
    }
}

*.flexy {

    *.cta {

        padding: 4rem;

        form {

            legend {
                margin: 0;
                background-color: var(--color-hint-text);
            }

            fieldset {
                margin: 0;
            }

            label {
                color: inherit;
            }
        }
    }

    *.portal-links {
        padding: 2rem;
        place-items: flex-start;
        gap: 5rem;

        hgroup {
            place-items: flex-start;
            gap: .5rem;
        }

        *.links-columns {
            place-items: flex-start;
            gap: .5rem;
        }

        ul,
        ol {
            width: fit-content;
            flex: 0 0 fit-content;
            list-style-type: none;
            place-items: flex-start;
            gap: 1rem;
        }

        li a:any-link {
            padding: .25rem;
            text-decoration: none;
        }

        label:has(> input, > select) {
            place-items: center;
            gap: 1rem;
        }

        select {
            padding: .5rem .25rem;
            color: currentColor;
            background-color: transparent;
            outline: thin solid currentColor;
            font-size: inherit;
            cursor: pointer;
        }
    }
}

*.booking-online {

    padding: 2rem;
    position: relative;
    max-width: var(--loop-width);
    gap: 2rem;

    hgroup {
        padding: 2rem;
        height: auto;
        width: 40rem;
        flex: 0 0 40rem;
        place-items: flex-start;
        gap: 1rem;

        ul {
            padding: 1rem;
            place-items: flex-start;
            font-size: .9rem;
            list-style-type: disclosure-closed;
            gap: 1rem;
        }
    }

    *.modal {
        padding: 2rem;
        width: 28rem;
        flex-basis: 28rem;
        gap: 1rem;

        h3 {
            font-size: 1.75rem;
        }

        h4 {
            font-size: 1.5rem;
        }

        dialog+button[type="button"] {
            margin: 0;
        }

        *.social-icons {
            gap: 1rem;
        }
    }
}

@starting-style {
    dialog[open][aria-modal="true"] {
        opacity: 0;
        transform: scaleY(0);
    }
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition: all 0.7s allow-discrete;
}

dialog[open][aria-modal="true"]::backdrop {
    color: transparent;
    background-color: rgb(0 0 0 / 25%);
    background-image: linear-gradient(45deg, #462523 0, #cb9b51 20%, #f6e27a 40%, #f6f2c0 50%, #f6e27a 60%, #cb9b51 80%, #462523 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .75;
}

@starting-style {
    dialog[open][aria-modal="true"]::backdrop {
        background-color: rgb(0 0 0 / 0%);
        background-image: none;
    }
}