<!-- partials/app-nav.hbs -->
<div class="flexy row container">
    <button id="appInstallButton" type="button" class="btn btn-fill btn-alternative" title="Install the app">{{> "icons/download"}}</button>
    <button type="button" class="btn btn-fill btn-alternative" title="Search the app" data-ghost-search="data-ghost-search">{{> "icons/search"}}</button>
    {{!--{{search}}--}}
</div>