<!-- partials/cookies.hbs -->
<aside id="cookies" class="flexy cookies">
    <hgroup class="flexy">
        <h4 title="We use cookies">We use cookies&excl;</h4>
        <p>This web application stores cookies&comma; which are small text files&comma; on your computer&period; These cookies are used to collect information about how you interact with our website and allow us to remember you&period; We use this information to improve and customize your browsing experience and for analytics and metrics about our visitors both on this website and other media&period; By continuing to use our site&comma; you accept our use of <a href="/cookies-policy/" title="Cookies policy">cookies</a> and <a href="/privacy-policy/" title="Privacy policy">privacy policy</a>&period;</p>
    </hgroup>
    <footer class="flexy row">
        <button type="button" id="accept-cookies" title="Got it&excl;">Got it&excl;</button>
        <button type="button" id="close-cookies" title="Close" autofocus="autofocus">&cross; Close</button>
    </footer>
</aside>