<!-- partials/fly-buttons.hbs -->
<div class="flexy fly">
    <a href="https://wa.me/447773222722?text=I'm%20inquiring%20about%20your%20services%20" title="Chat on WhatsApp" class="chat-whatsapp" aria-label="Chat on WhatsApp" target="_blank">{{> "icons/whatsapp"}}</a>
    <a href="#site-header" title="Scroll back to top" target="_top" class="scroll-top">Back to top{{> "icons/arrow-up"}}</a>
</div>