/* Ghost CMS */

#announcement-bar-root {
    width: 100dvw;
    max-width: 100%;
}

*.kg-width-wide,
*.kg-width-full {
    max-width: 100%;
}

.ghost-orb-logo {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../../images/logos/ghost-logo-dark.png);
}

[data-theme="dark"] .ghost-orb-logo {
    background-image: url(../../images/logos/ghost-logo-light.png);
}
