<!-- partials/app-nav.hbs -->
<div class="flexy row app-buttons">
    <button id="appInstallButton" type="button" title="Install this app">{{> "icons/download"}}</button>
    <button id="appShowMenu" type="button" title="Show app menu">{{> "icons/menu"}}</button>
    <button id="appHideMenu" type="button" title="Hide app menu">{{> "icons/cross"}}</button>
    {{!--{{search}}--}}
</div>