<!-- partials/company-meta.hbs -->
<p class="flexy row">
    <span>Copyright &copy;</span>
    <span>2013 &dash; {{date format="YYYY"}}&period;</span>
    <span>All Rights Reserved&period;</span>
    <span><strong>{{@site.title}} Ltd</strong> is a company registered in England and Wales&period;</span>
</p>
<p class="flexy row">
    <span><strong>Registered number&colon;</strong> <a href="https://find-and-update.company-information.service.gov.uk/company/15197383" title="Find company information on GOV.UK" target="_blank">15197383</a>&period;</span>
    <span><strong>VAT number&colon;</strong> 466766245&period;</span>
    <span><strong>Registered office&colon;</strong> 31 Spring Street, London, England, W2 1JA&period;</span>
</p>