<!-- partials/who-we-are.hbs -->
<section class="flexy who-we-are">
    <h3>Your trusted plumbing and heating experts in London</h3>
    <p class="quote">We pride ourselves on being a reliable and professional team available around the clock to meet all your plumbing and heating needs. Whether you require routine maintenance or face an urgent repair, our skilled experts are here to provide swift, efficient, and high-quality solutions&period;</p>
    <hr />
    <div class="flexy row container">
        <div class="flexy row feature">
            {{> "icons/certification"}}
            <div class="flexy">
                <h4>Certification</h4>
                <p>Our handymen are certified and highly experienced professionals&period;</p>
            </div>
        </div>
        <div class="flexy row feature">
            {{> "icons/clock"}}
            <div class="flexy">
                <h4>24/7 availability</h4>
                <p>Having a hard time with your toilet in the middle of the night&quest; Call us&excl;</p>
            </div>
        </div>
        <div class="flexy row feature">
            {{> "icons/pound"}}
            <div class="flexy">
                <h4>Competitive pricing</h4>
                <p>Providing quality service at a price that works for you &dash; guaranteed&excl;</p>
            </div>
        </div>
    </div>
    <p>With a commitment to excellence, we ensure that every job is handled with expertise and care, offering you the peace of mind that comes from knowing your home or business is in capable hands. Trust us to deliver dependable service whenever you need it, day or night&period;</p>
</section>