<div>
    <div data-focus-guard="true" tabindex="0"
        style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;"></div>
    <div data-focus-lock-disabled="false">
        <div tabindex="-1" class="css-1digxet" style="z-index: 30004;">
            <div class="css-6ksza1"></div>
            <div class="css-6prwbj">
                <div class="css-1y2lg5x"></div>
                <div style="height: fit-content; transform: translate(0px, 0px);">
                    <div class="css-1l3mz9j" data-modal-id="md5695309-fba4-4038-a6c1-772a5ef1308a" role="dialog"
                        style="width: 412px; height: 915px;">
                        <div class="css-117u9d">
                            <div class="fs-unmask css-lpqzsu"><button type="button" class="css-6y82f1"><span
                                        class="css-4xd708"><span class="css-19p0dx4"><span>Close</span></span><span
                                            class="css-1bt0omd">
                                            <div class="css-m6q689"
                                                style="border-top-width: 2px; transform: scaleX(0); transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06); width: 0px;">
                                            </div>
                                        </span></span></button><button class="css-6y82f1"><span class="css-4xd708"><span
                                            class="css-19p0dx4"><span>Save</span></span><span class="css-1bt0omd">
                                            <div class="css-m6q689"
                                                style="border-top-width: 2px; transform: scaleX(0); transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06); width: 0px;">
                                            </div>
                                        </span></span></button></div>
                            <h1 class="css-1r0p4us"><span class="fs-unmask">Registration information</span></h1>
                            <p class="fs-unmask css-14kzu0w"><span>Enter information for the designated domain
                                    registrant. If the registrant is an organization, enter its name under the
                                    Organization field. Please note: Information in the organization field is publicly
                                    available. <a href="https://support.squarespace.com/hc/articles/206542087"
                                        target="_blank" style="display: inline;"><span>Learn more</span></a></span></p>
                            <div class="css-roynbj"><button aria-controls="612e9ffa-4a01-4b97-9ce7-57513da4a518"
                                    aria-expanded="true" type="button" width="100%" class="css-1dtyuja"><label
                                        id="6d5e2d79-ac91-4fe8-b051-77f453d35e12" class="fs-unmask css-1v5axix">
                                        <div class="css-1rxyiww">
                                            <div class="css-op36er">
                                                <div class="css-1s9qfr5"><svg fill="currentColor" height="22"
                                                        viewBox="0 0 22 22" width="22"
                                                        xmlns="http://www.w3.org/2000/svg" class="css-1w8a8j8">
                                                        <path d="M7.5 16H10l5-5-5-5H7.5l5 5-5 5z"></path>
                                                    </svg></div>
                                            </div>
                                            <div class="css-2dh45j">
                                                <p class="css-tfw3tq">Registrant</p>
                                            </div>
                                        </div>
                                    </label></button>
                                <div aria-hidden="false" aria-labelledby="6d5e2d79-ac91-4fe8-b051-77f453d35e12"
                                    id="612e9ffa-4a01-4b97-9ce7-57513da4a518" role="region"
                                    data-transition-state="entered" class="css-jkywky"
                                    style="height: auto; opacity: 1; transition-timing-function: cubic-bezier(0.32, 0.94, 0.6, 1); transition-duration: 300ms;">
                                    <div class="css-qcyd61">
                                        <p class="css-1v20d2b"><span class="fs-unmask">Contact Information</span></p>
                                        <div class="css-jzj2kg"><label for="e162f825-0c78-4669-8a9d-3779475c1082"
                                                class="css-1hbj297"><span class="fs-unmask">First Name</span></label>
                                            <div class="css-1loktxt"><input color="gray.100" font-size="3" type="text"
                                                    aria-describedby="desc-e162f825-0c78-4669-8a9d-3779475c1082"
                                                    aria-invalid="false" id="e162f825-0c78-4669-8a9d-3779475c1082"
                                                    width="100%" aria-label="First Name" class="css-kr7apy"
                                                    value="Salaheddin"></div>
                                            <div id="desc-e162f825-0c78-4669-8a9d-3779475c1082" class="css-c5s511">
                                            </div>
                                        </div>
                                        <div class="css-jzj2kg"><label for="94c08bd9-ef0f-49b2-a62e-e2977eaee76d"
                                                class="css-1hbj297"><span class="fs-unmask">Last Name</span></label>
                                            <div class="css-1loktxt"><input color="gray.100" font-size="3" type="text"
                                                    aria-describedby="desc-94c08bd9-ef0f-49b2-a62e-e2977eaee76d"
                                                    aria-invalid="false" id="94c08bd9-ef0f-49b2-a62e-e2977eaee76d"
                                                    width="100%" aria-label="Last Name" class="css-kr7apy"
                                                    value="AbuEin"></div>
                                            <div id="desc-94c08bd9-ef0f-49b2-a62e-e2977eaee76d" class="css-c5s511">
                                            </div>
                                        </div>
                                        <div class="css-jzj2kg"><label for="8d78dd73-8cfd-4a8a-9342-4a9614d09c2a"
                                                class="css-1hbj297"><span class="fs-unmask">Organization</span></label>
                                            <div class="css-1loktxt"><input color="gray.100" font-size="3" type="text"
                                                    aria-describedby="desc-8d78dd73-8cfd-4a8a-9342-4a9614d09c2a"
                                                    aria-invalid="false" id="8d78dd73-8cfd-4a8a-9342-4a9614d09c2a"
                                                    width="100%" aria-label="Organization"
                                                    placeholder="Organization, Inc." class="css-kr7apy"
                                                    value="AbuEin Technologies"></div>
                                            <div id="desc-8d78dd73-8cfd-4a8a-9342-4a9614d09c2a" class="css-c5s511">
                                            </div>
                                        </div>
                                        <div class="css-jzj2kg"><label for="89aa307a-0f01-4b76-a118-4800b9c5d20b"
                                                class="css-1hbj297"><span class="fs-unmask">Email Address</span></label>
                                            <div class="css-1loktxt"><input color="gray.100" font-size="3" type="text"
                                                    aria-describedby="desc-89aa307a-0f01-4b76-a118-4800b9c5d20b"
                                                    aria-invalid="false" id="89aa307a-0f01-4b76-a118-4800b9c5d20b"
                                                    width="100%" aria-label="Email Address"
                                                    placeholder="name@example.com" class="css-kr7apy"
                                                    value="salaheddin@abuein.dev"></div>
                                            <div id="desc-89aa307a-0f01-4b76-a118-4800b9c5d20b" class="css-c5s511">
                                            </div>
                                        </div>
                                        <div class="css-5rh9k5"><label class="fs-unmask css-11plyqc">Phone
                                                Number</label>
                                            <div class="css-ethhiq">
                                                <div aria-disabled="false" aria-expanded="false" aria-haspopup="listbox"
                                                    role="combobox" tabindex="0"
                                                    aria-controls="sqs-8de4da1b-4f79-4b69-8dfb-a65930a66360"
                                                    aria-label="phone country code" placeholder="US +1" value="GB"
                                                    class="css-dvcecs">
                                                    <div class="css-1rxyiww">
                                                        <div class="css-2dh45j">
                                                            <div class="css-18pr21"></div>
                                                        </div>
                                                        <div class="css-4nd63s">
                                                            <div class="css-18pr21">GB +44</div>
                                                        </div>
                                                        <div class="css-rfj5ie"><svg fill="currentColor" height="22"
                                                                viewBox="0 0 22 22" width="22"
                                                                xmlns="http://www.w3.org/2000/svg" class="css-s75o56">
                                                                <path d="M6 7.5V10l5 5 5-5V7.5l-5 5-5-5z"></path>
                                                            </svg></div>
                                                    </div>
                                                </div>
                                                <div class="css-jzj2kg">
                                                    <div class="css-1loktxt"><input color="gray.100" font-size="3"
                                                            type="text"
                                                            aria-describedby="desc-8e7ce48a-73ac-40b7-b3e9-5d0f1f1ca44a"
                                                            aria-invalid="false"
                                                            id="8e7ce48a-73ac-40b7-b3e9-5d0f1f1ca44a" width="100%"
                                                            aria-label="Phone Number" placeholder="(555) 555-2368"
                                                            class="css-kr7apy" value="7930120661"></div>
                                                    <div id="desc-8e7ce48a-73ac-40b7-b3e9-5d0f1f1ca44a"
                                                        class="css-c5s511"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="css-qcyd61">
                                        <p class="css-1ec3lg3"><span class="fs-unmask">Address</span></p>
                                        <div class="css-jzj2kg"><label for="5120406d-ecbe-4526-9649-d5de083cf76f"
                                                class="css-1hbj297"><span class="fs-unmask">Street
                                                    Address</span></label>
                                            <div class="css-1loktxt"><input color="gray.100" font-size="3" type="text"
                                                    aria-describedby="desc-5120406d-ecbe-4526-9649-d5de083cf76f"
                                                    aria-invalid="false" id="5120406d-ecbe-4526-9649-d5de083cf76f"
                                                    width="100%" aria-label="Street Address"
                                                    placeholder="Main Street 101" class="css-kr7apy"
                                                    value="32 Malvern Road"></div>
                                            <div id="desc-5120406d-ecbe-4526-9649-d5de083cf76f" class="css-c5s511">
                                            </div>
                                        </div>
                                        <div class="css-jzj2kg"><label for="261ae74d-c824-4856-abd4-c2b414dbeacd"
                                                class="css-1hbj297"><span class="fs-unmask">Apt/Suite
                                                    (optional)</span></label>
                                            <div class="css-1loktxt"><input color="gray.100" font-size="3" type="text"
                                                    aria-describedby="desc-261ae74d-c824-4856-abd4-c2b414dbeacd"
                                                    aria-invalid="false" id="261ae74d-c824-4856-abd4-c2b414dbeacd"
                                                    width="100%" aria-label="Apt/Suite (optional)" placeholder="Apt. 1G"
                                                    class="css-kr7apy" value=""></div>
                                            <div id="desc-261ae74d-c824-4856-abd4-c2b414dbeacd" class="css-c5s511">
                                            </div>
                                        </div>
                                        <div class="css-jzj2kg"><label for="7f6a4805-d77d-4c58-9cb6-5d29919f988f"
                                                class="css-1hbj297"><span class="fs-unmask">City</span></label>
                                            <div class="css-1loktxt"><input color="gray.100" font-size="3" type="text"
                                                    aria-describedby="desc-7f6a4805-d77d-4c58-9cb6-5d29919f988f"
                                                    aria-invalid="false" id="7f6a4805-d77d-4c58-9cb6-5d29919f988f"
                                                    width="100%" aria-label="City" placeholder="Springfield"
                                                    class="css-kr7apy" value="Thornton Heath"></div>
                                            <div id="desc-7f6a4805-d77d-4c58-9cb6-5d29919f988f" class="css-c5s511">
                                            </div>
                                        </div>
                                        <div class="css-jzj2kg"><label for="89c4769c-152b-4303-b924-712eecf43201"
                                                class="css-1hbj297"><span class="fs-unmask">State</span></label>
                                            <div class="css-1loktxt"><input color="gray.100" font-size="3" type="text"
                                                    aria-describedby="desc-89c4769c-152b-4303-b924-712eecf43201"
                                                    aria-invalid="false" id="89c4769c-152b-4303-b924-712eecf43201"
                                                    width="100%" aria-label="State" placeholder="ST" class="css-kr7apy"
                                                    value="Surrey"></div>
                                            <div id="desc-89c4769c-152b-4303-b924-712eecf43201" class="css-c5s511">
                                            </div>
                                        </div>
                                        <div class="css-jzj2kg"><label for="5a5665fe-c828-46f2-8b2b-96870a978e32"
                                                class="css-1hbj297"><span class="fs-unmask">Postal Code</span></label>
                                            <div class="css-1loktxt"><input color="gray.100" font-size="3" type="text"
                                                    aria-describedby="desc-5a5665fe-c828-46f2-8b2b-96870a978e32"
                                                    aria-invalid="false" id="5a5665fe-c828-46f2-8b2b-96870a978e32"
                                                    width="100%" aria-label="Postal Code" class="css-kr7apy"
                                                    value="CR7 7LH"></div>
                                            <div id="desc-5a5665fe-c828-46f2-8b2b-96870a978e32" class="css-c5s511">
                                            </div>
                                        </div>
                                        <div class="css-1v1knz"><label class="fs-unmask css-11plyqc">Country</label>
                                            <div aria-disabled="false" aria-expanded="false" aria-haspopup="listbox"
                                                role="combobox" tabindex="0"
                                                aria-controls="sqs-3aef3a30-5182-42f5-96d9-34d07273a547"
                                                aria-label="country" placeholder="" value="GB" class="css-ngajzz">
                                                <div class="css-1rxyiww">
                                                    <div class="css-2dh45j">
                                                        <div class="css-18pr21">United Kingdom</div>
                                                    </div>
                                                    <div class="css-rfj5ie"><svg fill="currentColor" height="22"
                                                            viewBox="0 0 22 22" width="22"
                                                            xmlns="http://www.w3.org/2000/svg" class="css-s75o56">
                                                            <path d="M6 7.5V10l5 5 5-5V7.5l-5 5-5-5z"></path>
                                                        </svg></div>
                                                </div>
                                                <div class="css-wgfdy3"><span class="css-t7eoem"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" aria-orientation="horizontal" role="separator"
                                    class="css-1uvh6gk">
                                    <div class="css-10mufgv"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-focus-guard="true" tabindex="0"
        style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;"></div>
</div>