<!-- partials/chauffeurs.hbs -->
<section class="flexy loop chauffeurs">
    <hgroup class="flexy">
        <h2>The Drivers Behind Our Cars</h2>
        <hr />
        <h3>Refined in the art of chauffeuring</h3>
        <p>The very finest chauffeurs&comma; all hand selected to meet our very exacting standards. Each one is so much more than just a driver&period;</p>
    </hgroup>
    <button type="button">Meet Our Chauffeurs</button>
</section>