<!-- partials/form-validity.hbs -->
<div class="flexy validity-messages">
    <p data-error-type="category" aria-live="polite">Please choose the enquiry category</p>
    <p data-error-type="name" aria-live="polite">Please enter your full name</p>
    <p data-error-type="fname" aria-live="polite">Please enter your first name</p>
    <p data-error-type="surname" aria-live="polite">Please enter your surname</p>
    <p data-error-type="email" aria-live="polite">Please enter a valid email address</p>
    <p data-error-type="phone" aria-live="polite">Please enter a valid phone number</p>
    <p data-error-type="password" aria-live="polite">Please enter a valid password</p>
    <p data-error-type="passengers" aria-live="polite">Please enter the number of passengers &lpar;between 1 and 99&rpar;</p>
    <p data-error-type="service" aria-live="polite">Please select the type of the requested service</p>
    <p data-error-type="enquiry" aria-live="polite">Please type in your enquiry</p>
    <p data-error-type="terms" aria-live="polite">You have to agree with the terms &amp; conditions</p>
    <p data-error-type="address1" aria-live="polite">Please enter a valid address line</p>
    <p data-error-type="postcode" aria-live="polite">Please enter a valid UK postcode</p>
    <p data-error-type="members" data-members-error="" aria-live="polite"><!-- error message will appear here --></p>
</div>