<!-- partials/form-book-now.hbs -->
<section class="flexy book-now">
    <hgroup class="flexy form-heading">
        <h2>Book now&excl;</h2>
        <p class="flexy row">Morbi malesuada ligula sed nulla varius blandit&period;</p>
        {{> "form-validity"}}
    </hgroup>
    <form class="flexy" onsubmit="return validateForm();" action="." method="get" enctype="multipart/form-data" autocomplete="on" spellcheck="false" accept-charset="utf-8" rel="nofollow" target="_top">
        <fieldset class="flexy">
            <label for="category" title="Enquiry category" class="flexy"><span aria-label="required">*</span>Enquiry category<select name="category" id="category" class="flexy row" disabled="disabled" required="required" aria-required="true">
                <option value="" disabled="disabled" hidden="hidden" title="Please choose an option">Please choose an option</option>
                <option value="booking" title="Making a booking" selected="selected">Making a booking</option>
            </select></label>
        </fieldset>
        <fieldset class="flexy">
            <legend class="flexy"><h3>You</h3></legend>
            <div class="flexy row">
                <label for="fname" title="First name" class="flexy"><span aria-label="required">*</span>First name<input type="text" name="fname" id="fname" placeholder="David" autocomplete="given-name" required="required" aria-required="true" /></label>
                <label for="surname" title="Surname" class="flexy"><span aria-label="required">*</span>Surname<input type="text" name="surname" id="surname" placeholder="Johnson" autocomplete="family-name" required="required" aria-required="true" /></label>
            </div>
            <div class="flexy row">
                <label for="email" title="Email" class="flexy"><span aria-label="required">*</span>Email<input type="email" name="email" id="email" placeholder="david.johnson@mail.co.uk" autocomplete="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" minlength="8" required="required" aria-required="true" /></label>
                <label for="phone" title="Phone" class="flexy">Phone<input type="tel" name="phone" id="phone" placeholder="01707357000" autocomplete="tel" pattern="\d+" /></label>
            </div>
        </fieldset>
        <fieldset class="flexy">
            <legend class="flexy"><h3>Service</h3></legend>
            <span aria-label="required">*</span>
            <div class="flexy row">
                <label for="executive" class="flexy row" title="Executive"><input type="radio" id="executive" name="service" value="executive" checked="checked" required="required" aria-required="true" />Executive</label>
                <label for="luxury" class="flexy row" title="Luxury"><input type="radio" id="luxury" name="service" value="luxury" required="required" aria-required="true" />Luxury</label>
            </div>
            <div class="flexy row">
                <label for="total-passengers" title="Number of passengers" class="flexy"><span aria-label="required">*</span>Number of passengers<input type="number" name="nr-pass" id="total-passengers" step="1" min="1" max="99" inputmode="numeric" placeholder="1" pattern="\d{0,2}" required="required" aria-required="true"></label>
                <label for="checked-luggage" title="Number of checked luggage" class="flexy"><span aria-label="required">*</span>Number of checked luggage<input type="number" name="checked-luggage" id="checked-luggage" step="1" min="0" max="99" inputmode="numeric" placeholder="0" pattern="\d{0,2}" required="required" aria-required="true"></label>
                <label for="onboard-luggage" title="Number of on-board luggage" class="flexy"><span aria-label="required">*</span>Number of on-board luggage<input type="number" name="onboard-luggage" id="onboard-luggage" step="1" min="0" max="99" inputmode="numeric" placeholder="0" pattern="\d{0,2}" required="required" aria-required="true"></label>
            </div>
        </fieldset>
        <fieldset class="flexy">
            <legend class="flexy"><h3>Departing</h3></legend>
            <label for="departure-datetime" title="Pick a departure date and time" class="flexy row"><span aria-label="required">*</span><strong>Pick a departure date and time&colon;</strong><input type="datetime-local" id="departure-datetime" name="departure-datetime" required="required" aria-required="true" /></label>
            <div class="flexy row">
                <label for="address-1" title="Address line 1" class="flexy"><span aria-label="required">*</span>Address line 1<input type="text" name="address2" id="street" placeholder="200 Tower Bridge Road" autocomplete="street-address" required="required" aria-required="true" /></label>
                <label for="address-2" title="Address line 2" class="flexy">Address line 2<input type="text" name="address2" id="street" placeholder="1st Floor" autocomplete="address-level2" /></label>
            </div>
            <div class="flexy row">
                <label for="town" title="Town or city" class="flexy"><span aria-label="required">*</span>Town or city<input type="text" name="town" id="town" placeholder="London" autocomplete="home city" required="required" aria-required="true" /></label>
                <label for="county" title="County" class="flexy">County<input type="text" name="county" id="county" placeholder="Greater London" autocomplete="address-level4" /></label>
            </div>
            <div class="flexy row">
                <label for="postcode" title="Postcode" class="flexy"><span aria-label="required">*</span>Postcode<input type="text" name="postcode" id="postcode" placeholder="SE1 2UN" autocomplete="postal-code" required="required" aria-required="true" /></label>
                <label for="return-w3w" title="What 3 Words" class="flexy">What 3 Words<input type="text" name="return-w3w" id="return-w3w" placeholder="///mixture.picturing.museum" autocomplete="off" /></label>
            </div>
        </fieldset>
        <fieldset class="flexy">
            <legend class="flexy"><h3>Destination</h3></legend>
            <div class="flexy row">
                <label for="address-1" title="Address line 1" class="flexy"><span aria-label="required">*</span>Address line 1<input type="text" name="address2" id="street" placeholder="87-135 Brompton Road" autocomplete="off" required="required" aria-required="true" /></label>
                <label for="address-2" title="Address line 2" class="flexy">Address line 2<input type="text" name="address2" id="street" placeholder="" autocomplete="off" /></label>
            </div>
            <div class="flexy row">
                <label for="town" title="Town or city" class="flexy"><span aria-label="required">*</span>Town or city<input type="text" name="town" id="town" placeholder="London" autocomplete="off" required="required" aria-required="true" /></label>
                <label for="county" title="County" class="flexy">County<input type="text" name="county" id="county" placeholder="Greater London" autocomplete="off" /></label>
            </div>
            <div class="flexy row">
                <label for="postcode" title="Postcode" class="flexy"><span aria-label="required">*</span>Postcode<input type="text" name="postcode" id="postcode" placeholder="SW1X 7XL" autocomplete="off" required="required" aria-required="true" /></label>
                <label for="return-w3w" title="What 3 Words" class="flexy">What 3 Words<input type="text" name="return-w3w" id="return-w3w" placeholder="///unit.blend.offer" autocomplete="off" /></label>
            </div>
        </fieldset>
        <label for="return-add" class="switch" title="Add return"><span class="switch-message">Add return&quest;</span><input type="checkbox" id="return-add" name="return-add" value="true" /><span class="slider"></span></label>
        <div class="flexy">
            <legend class="flexy"><h3>Returning</h3></legend>
            <label for="return-datetime" title="Pick a return date and time" class="flexy row"><span aria-label="required">*</span><strong>Pick a return date and time&colon;</strong><input type="datetime-local" id="return-datetime" name="return-datetime" required="required" aria-required="true" /></label>
            <div class="flexy row">
                <label for="return-address1" title="Address line 1" class="flexy"><span aria-label="required">*</span>Address line 1<input type="text" name="return-address1" id="return-address1" placeholder="Stanborough Road" autocomplete="off" required="required" aria-required="true" /></label>
                <label for="return-address-2" title="Address line 2" class="flexy">Address line 2<input type="text" name="return-address2" id="return-address2" placeholder="" autocomplete="off" /></label>
            </div>
            <div class="flexy row">
                <label for="return-town" title="Town or city" class="flexy"><span aria-label="required">*</span>Town or city<input type="text" name="return-town" id="return-town" placeholder="Welwyn Garden City" autocomplete="off" required="required" aria-required="true" /></label>
                <label for="return-county" title="County" class="flexy">County<input type="text" name="return-county" id="return-county" placeholder="Hertfordshire" autocomplete="off" /></label>
            </div>
            <div class="flexy row">
                <label for="return-postcode" title="Postcode" class="flexy"><span aria-label="required">*</span>Postcode<input type="text" name="return-postcode" id="return-postcode" placeholder="AL8 6DQ" autocomplete="off" required="required" aria-required="true" /></label>           
                <label for="return-w3w" title="What 3 Words" class="flexy">What 3 Words<input type="text" name="return-w3w" id="return-w3w" placeholder="///faster.bared.ocean" autocomplete="off" /></label>
            </div>
            <label for="flight-number" title="Flight number" class="flexy">Flight number<input type="text" name="flight-number" id="flight-number" placeholder="K29BVJV" autocomplete="off" /></label>
        </fieldset>
        <label for="comments-add" class="switch" title="Add suggestions and comments"><span class="switch-message">Add suggestions &amp; comments&quest;</span><input type="checkbox" id="comments-add" name="comments-add" value="true" /><span class="slider"></span></label>
        <fieldset class="flexy">
            <legend class="flexy"><h3>Suggestions &amp; comments</h3></legend>
            <label for="suggestions-comments" title="Suggestions and comments" class="flexy"><textarea name="suggestions-comments" id="suggestions-comments" placeholder="Write something&hellip;" cols="60" rows="5" wrap="hard"></textarea></label>
        </fieldset>
        <fieldset class="flexy row controls">
            <p class="flexy row required-fields" title="Required fields">Required fields</p>
            <div class="flexy">
                <label for="terms-conditions" class="flexy row" title="I have read and agreed with the terms &amp; conditions&period;"><span aria-label="required">*</span><input type="checkbox" id="terms-conditions" name="tandc" value="agree" required="required" aria-required="true" /><span>I have read and agreed with the <a href="/terms-and-conditions/" title="terms and conditions">terms &amp; conditions</a>&period;</span></label>
                <div class="flexy row">
                    <input type="submit" value="Book now" title="Book now" />
                    <input type="reset" value="Reset" title="Reset" />
                </div>
            </div>
        </fieldset>
    </form>
</section>