<!-- partials/general-enquiries.hbs -->
<section class="flexy general-enquiries">
    <hgroup class="flexy">
        <h4>General enquiries</h4>
        <p>If you need immediate assistance&comma; please do not hesitate to contact us&period; We are here to help you with any inquiries or issues you may have&period; Our customer support team is available to provide the support you need to ensure a smooth experience with {{@site.title}}&period;</p>
    </hgroup>
    <ul class="flexy">
        <li class="flexy row"><strong>Call center&colon;</strong><a href="tel:01707527111" title="Call center" target="_blank">01707 527 111</a></li>
        <li class="flexy row"><strong>Mobile number&colon;</strong><a href="tel:07437060606" title="Mobile number" target="_blank">07437 060 606</a></li>
        <li class="flexy row"><strong>Email&colon;</strong><a href="mailto:office@elitedrivershertfordshire.co.uk" title="Email" target="_blank">office&commat;elitedrivershertfordshire&period;co&period;uk</a></li>
        <li class="flexy row"><strong>Address&colon;</strong><address>12 Longcroft Gardens,<br />Welwyn Garden City AL8 6JR,<br />United Kingdom<br /><a href="https://maps.app.goo.gl/79K8LJX48rSS1Br77" title="Google Maps" target="_blank">Google Maps</a></address></li>
    </ul>
</section>