<!-- partials/loop-services.hbs -->
{{#get "posts" filter="tags:[services]" include="authors, tags" order="title asc" limit=@config.posts_per_page as |posts|}}<section class="flexy loop">
    <h2>And there&apos;s more&colon;</h2>
    <h3>Our full service range&hellip;</h3>
    <hr />
    {{#if posts}}{{> "loop"}}{{else}}<pre>There is no content to return&period;</pre>{{/if}}
</section>{{else}}<pre class="loop-error">{{error}}</pre>{{/get}}