<!-- partials/loop-services.hbs -->
{{#get "posts" filter="tags:[services]" include="authors, tags" order="title asc" limit=@config.posts_per_page as |posts|}}<section class="flexy loop">
    <h2>And there&apos;s more&hellip;</h2>
    <p class="extra-loop">Our full service range&period;</p>
    <hr />
    {{#if posts}}{{> "loop"}}{{else}}<pre>There is no content to return&period;</pre>{{/if}}
</section>{{else}}<pre class="loop-error">{{error}}</pre>{{/get}}