<!-- partials/modal-booking.hbs -->
<section class="flexy modal">
    <h3>We&apos;re here whenever you need us</h3>
    <hr />
    <h4>24&sol;7 service and support</h4>
    {{> "dialog-booking"}}
    <button type="button" title="Click to open the booking form">Book now&excl;</button>
    <output class="flexy"></output>
    {{> "sharing"}}
</section>