<div class="flexy row nav-extra">
    <button type="button" data-html-symbol="trigram-for-heaven" title="Menu">&#9776;</button>
    {{#unless @site.members_enabled}}<button type="button" title="Search this site" class="search gh-icon-btn" aria-label="Search this site" data-ghost-search="">{{> "icons/search"}}</button>{{else}}<button type="button" title="Search this site" class="search gh-icon-btn" aria-label="Search this site" data-ghost-search="">{{> "icons/search"}}</button>
    {{#unless @member}}<div class="flexy row members">
        {{#unless @site.members_invite_only}}<a type="text/html" href="#/portal/signin" title="Sign in" target="_top" data-portal="signin">Sign in</a><a type="text/html" href="#/portal/signup" title="Sign up" target="_top" data-portal="signup">Sign up</a>{{else}}<a type="text/html" href="#/portal/signin" title="Sign in" target="_top" data-portal="signin">Sign in</a>{{/unless}}{{else}}<a type="text/html" href="#/portal/account" title="Account" target="_top" data-portal="account">Account</a>{{/unless}}
    </div>{{/unless}}
</div>