<!-- partials/offline-faq.hbs -->
<section class="flexy faq">
    <details class="flexy" open="open">
        <summary title="How can I track my ride?">How can I track my ride?</summary>
        <p>You can track your ride in real-time through our GPS tracking system. Once your booking is confirmed, you'll receive updates on the driver's location and estimated arrival time&period;</p>
    </details>
    <details class="flexy">
        <summary title="Can I book rides for corporate events or special occasions?">Can I book rides for corporate events or special occasions?</summary>
        <p>Absolutely. Our chauffeur services are suitable for corporate travel, weddings, celebrations, and more. We tailor our service to meet your specific requirements.</p>
    </details>
    <details class="flexy">
        <summary title="What types of vehicles do you offer?">What types of vehicles do you offer?</summary>
        <p>We offer a large range of executive and luxurious vehicles suitable for various occasions. Our fleet consists of high-end vehicles such as E Class Mercedes, S Class Mercedes, V Class Mercedes, Mercedes VITO (9-seater), BMW 745 LWB Series, Tesla X. But this is not all. If you are looking for some other models such as a Range Rover, Jaguar, Audi A8 or maybe even a large executive minibus (16-seater), please get in touch with us and we’ll do everything possible to organise a car perfect for you.</p>
    </details>
    <p class="more-faq">For more questions &amp; answers&comma; head to our <a href="/faq/" title="FAQ page" target="_top">FAQ page</a>&period;</p>
</section>