<!-- partials/offline-links.hbs -->
<section class="flexy offline">
    <hgroup class="flexy">
        <h2>You are offline</h2>
        <p>It appears that you are currently not connected to the internet&period; While some features of our service are unavailable offline&comma; you can still access basic information about what we offer&period; Please read through our FAQ section for answers to common questions&period; If you have any further inquiries or need assistance&comma; do not hesitate to reach out to us using the contact details provided below&period; We are committed to ensuring that you receive the support you need&comma; even when you are offline&period;</p>
    </hgroup>
    <h3>FAQ</h3>
    <ul class="flexy row offline-nav" role="menu">
        <li class="flexy row" role="menuitem"><a href="#" title="How can I book a ride&quest;" target="_top">How can I book a ride&quest;</a></li>
        <li class="flexy row" role="menuitem"><a href="#" title="What areas do you service&quest;" target="_top">What areas do you service&quest;</a></li>
        <li class="flexy row" role="menuitem"><a href="#" title="How can I track my ride&quest;" target="_top">How can I track my ride&quest;</a></li>
        <li class="flexy row" role="menuitem"><a href="#" title="What payment methods do you accept&quest;" target="_top">What payment methods do you accept&quest;</a></li>
    </ul>
</section>