<!-- partials/random-stuff.hbs -->
<aside class="read-more-wrap outer">
    <div class="read-more inner">
        {{#get "posts" include="authors" limit="3" as |more_posts|}}{{#if more_posts}}{{#foreach more_posts}}{{> "vehicle-card"}}{{/foreach}}{{/if}}{{/get}}
    </div>
</aside>