<!-- partials/vehicles.hbs -->
<section class="flexy loop">
    {{#get "posts" limit="all" filter="tag:hash-vehicles"}}{{#if posts}}
    <h2>Vehicles silhouettes&hellip;</h2>
    {{#foreach posts}}<a href="{{slug}}">{{title}}</a>{{/foreach}}{{else}}<p>There are no vehicles&period;</p>{{/if}}{{/get}}
</section>